<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nemero</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">adresse</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clients | async">
        <th scope="row">{{ c.numero }}</th>
        <td>{{ c.nom }}</td>
        <td>{{ c.prenom }}</td>
        <td>{{ c.adresse }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/edit-client', c.id]"
          >
            Modifier
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteclient(c.id)"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@getbootstrap"
  >
    Ajouter client
  </button>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout client</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addclient(f)">
          <div class="mb-3">
            <label for="message-text" type="text" class="col-form-label"
              >nom:</label
            >
            <input
              class="form-control"
              name="nom"
              #nom="ngModel"
              ngModel
              type="text"
            />
          </div>
          <div class="mb-3">
            <label for="message-text" type="text" class="col-form-label"
              >prenom:</label
            >
            <input
              class="form-control"
              name="prenom"
              #prenom="ngModel"
              ngModel
              type="text"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Numero:</label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="numero"
              #numero="ngModel"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="message-text" type="text" class="col-form-label"
              >adresse:</label
            >
            <input
              class="form-control"
              name="adresse"
              #adresse="ngModel"
              ngModel
              type="text"
            />
          </div>

          <button type="submit" class="btn btn-success">ajouter</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
